.message {
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
    align-items: center;
}

.message_detailsCont {
    display: flex;
    width: 100%;
}

.message_detailsCont.own {
    flex-direction: row-reverse;
}


.message_image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 5px;
}

.message_detailsCont.own .message_image {
    margin-right: 0px;
    margin-left: 10px;
}

.message_Info {
    display: flex;
    flex-direction: column;
}

.message_text {
    border-radius: 20px;
    padding: 10px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.message_detailsCont.own .message_text {
    background-color: rgb(226, 226, 226);
    color: black;
}

.message_date {
    font-size: 13px;
    font-style: italic;
    color: rgb(68, 68, 68);
    margin-left: 7px;
}

.message_detailsCont.own .message_date {
    text-align: right;
    margin-right: 7px;
    margin-left: 0px;
}

.message_bottom {
    font-size: 12px;
    margin-top: 10px;
    width: 60%;
    text-align: start;
    margin-left: 10%;
    color: black;
}

.message.own {
    align-items: flex-end;
}

.message.own .message_top {
    flex-direction: row-reverse;
}

.message.own .message_image {
    margin: 0;
    margin-left: 10px;
}

.message.own .message_bottom {
    text-align: end;
    margin-right: 10%;
}